body{
    background-color: #E0E0E0;
  }
  
.navbar-default {
    background-color: #000000;

}

.navbar-custom {
    background-color: #3F51B5;
}
.background {
  fill: none;
  pointer-events: all;
  background-color: #000000;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

path {
  fill: #ccc;
  stroke: #fff;
  stroke-width: .5px;
}

path:hover {
  fill: #00AEEC;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1px;
}


.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
circle {
  fill: yellow;
}
.geopath {
  fill: green;
}

#map{
  margin-top: 40px;
}

.map-contour
{
  margin-top: 60px;
  margin-left: 30px;
  border-color: coral;
  border-style: solid;
}
